*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.vscode
app/src/main/cpp/openssl
app/src/main/cpp/openssl-bin
app/src/main/cpp/openssl-*.tar.gz
